.App,
#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  font-size: 1.2rem;
}

.calculator {
  background-color: #cddce2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2px;
  padding: 5px;
  width: 250px;
}

.display {
  background-color: gray;
  color: white;
  grid-column: 1/ span 4;
  height: 40px;
  line-height: 40px;
  padding: 5px;
  text-align: right;
}

.button {
  text-align: center;
  height: 40px;
  line-height: 40px;
  transition: all 0.2s;
}

.button:hover {
  cursor: pointer;
}

.digit,
.other {
  background-color: #ececec;
}

.digit:hover,
.other:hover {
  background-color: white;
}

.operator {
  background-color: orange;
}

.operator:hover {
  background-color: rgb(255, 186, 58);
}

.zero {
  grid-column: 1/ span 2;
}
